.mm-left {
    display: flex;
    align-items: center;
    gap: 30px;
    border:1px solid grey ;
    p{
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        color: grey;
    }
}

.mm-right {
    display: flex;
    align-items: center;
    gap: 30px;
    border: 1px solid grey;

    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        color: grey;
    }
}

.main2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:90px ;
    gap: 30px;
}


@media (max-width:917px) {
    .main2{
        flex-direction: column;
    }

}


@media (max-width:640px) {
   .mm-left,.mm-right{
    flex-direction: column;
    border: none;
    text-align: center;
   }
    
}

