.m-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    padding: 40px;
    border-radius: 10px;
    -webkit-box-shadow: 3px 10px 32px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 10px 32px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 10px 32px -3px rgba(0, 0, 0, 0.75);
    img{
        width: 163px;
    }
}